@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900);

html,
body {
  height: 100%;
}
* {
  font-family: "Roboto";
}
h1 {
  font-size: 3rem;
}
.container {
  display: block;
  margin: 0 auto;
  max-width: 1280px;
  text-align: center;
  width: 100%;
  justify-content: center;
}

.row {
  display: flex;
  width: 100%;
}
.row.centered {
  justify-content: center;
  align-items: center;
}

.btn {
  padding: 5px;
  margin: 20px;
}

#default-board.board {
  margin: 1rem;
  margin-bottom: 0;
}

.digit {
  font-size: 6rem;
}
.prob {
  font-size: 2rem;
}

.response-container {
  height: 200px;
  width: 200px;
  background: #dcdcdc;
  float: left;
  border: 1px solid #6793ce;
  display: inline-block;
  margin: 2.9rem 0 0 0;
}
#response {
  margin: auto;
  font-family: Roboto;
  font-size: 14px;
  color: #828282;
  line-height: 1;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.btn-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

/* Button Styles */
.draw-border {
  box-shadow: inset 0 0 0 4px #58afd1;
  color: #58afd1;
  transition: color 0.25s 0.0833333333s;
  position: relative;
}
.draw-border::before,
.draw-border::after {
  border: 0 solid transparent;
  box-sizing: border-box;
  content: "";
  pointer-events: none;
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
  right: 0;
}
.draw-border::before {
  border-bottom-width: 4px;
  border-left-width: 4px;
}
.draw-border::after {
  border-top-width: 4px;
  border-right-width: 4px;
}
.draw-border:hover {
  color: #d30e36;
}
.draw-border:hover::before,
.draw-border:hover::after {
  border-color: #d31e36;
  transition: border-color 0s, width 0.25s, height 0.25s;
  width: 100%;
  height: 100%;
}
.draw-border:hover::before {
  transition-delay: 0s, 0s, 0.25s;
}
.draw-border:hover::after {
  transition-delay: 0s, 0.25s, 0s;
}
.btn {
  background: none;
  border: none;
  cursor: pointer;
  line-height: 1.5;
  font: 700 1.2rem "Roboto Slab", sans-serif;
  padding: 1em 2em;
  letter-spacing: 0.05rem;
}
.btn:focus {
  outline: 2px dotted #55d7dc;
}
