<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="./statics/main.css">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale = 1">
        <title> Python Neural Network </title>
    </head>
    <body>
        <div id="canvasDiv"></div>
        
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
        <script src="./statics/main.js"></script>
    </body>
</html>
