<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="normalize.css") }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="drawingBoard.min.css") }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="main.css") }}">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title> Digit Recognizer with Python </title>
	</head>
	<body>

		<section>
			<div class="container">
				<div class="row centered">
					<h1>Digit Recognizer with Python</h1>
				</div>
				<div class="row centered">
					<div class="board" id="default-board"></div>
					<div class="response-container">
						<span id="response"></span>
					</div>
				</div>
				<div class="btn-container">
					<button id="guess" class="btn draw-border">Predict</button>
				</div>
			</div>
			<footer style="text-align: center;">
			</footer>
		</section>

		<script defer src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
		<script defer src="{{ url_for("static", filename="drawingBoard.min.js") }}"></script>
		<script defer src="{{ url_for("static", filename="main.js") }}"></script>
	</body>
</html>
